In [62]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
import datetime

In [64]:
url = "https://www.amazon.in/Lenovo-Smartchoice-i5-12450HX-Graphics-83GS003UIN/dp/B0CX8XPKWJ?pd_rd_w=KyFJ6&content-id=amzn1.sym.6bd3eab7-4745-40de-b598-1eb97182db43&pf_rd_p=6bd3eab7-4745-40de-b598-1eb97182db43&pf_rd_r=BRRWWSM2PKF2NXF2K3R7&pd_rd_wg=bxrtd&pd_rd_r=5dd0bc9d-d099-4b41-b699-31925db2bb16&pd_rd_i=B0CX8XPKWJ&ref_=pd_hp_d_btf_unk_B0CX8XPKWJ&th=1"
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(url)
soup1 = BeautifulSoup(page.content, "html.parser")
soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
    
title = soup2.find(id='productTitle').get_text()
price_symbol = soup2.find(class_="a-price-symbol").get_text()
price = soup2.find(class_="a-price-whole").get_text()

In [65]:
title = title.strip()
price_symbol = price_symbol.strip()
price = price.strip()
    
import re
price = '66,190\n                                \n                                 .'
pattern = r"\d+(?:,\d+)*"
matches = re.findall(pattern, price)
price = ''.join(matches)

In [66]:
today = datetime.date.today()

In [67]:
import csv
import os

header = ['Title', 'Price','Date']
data = [title, price, today]

try:
    with open('AmazonWebScrappingDataset.csv', 'w', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(header)
        writer.writerow(data)
    print("File written successfully!")
except Exception as e:
    print(f"An error occurred: {e}")

print("Current working directory:", os.getcwd())

File written successfully!
Current working directory: C:\Users\acer

In [68]:
df = pd.read_csv(r'C:\Users\acer\AmazonWebScrappingDataset.csv')
df

                                               Title   Price        Date
0  Lenovo [Smartchoice LOQ 12th Gen Intel Core i5...  66,190  2024-10-07

In [78]:
with open('AmazonWebScrappingDataset.csv', 'a+', newline='', encoding='UTF8') as f:
    writer=csv.writer(f)
    writer.writerow(data)

In [80]:
df = pd.read_csv(r'C:\Users\acer\AmazonWebScrappingDataset.csv')
df

                                               Title   Price        Date
0  Lenovo [Smartchoice LOQ 12th Gen Intel Core i5...  66,190  2024-10-07
1  Lenovo [Smartchoice LOQ 12th Gen Intel Core i5...  66,190  2024-10-07
2  Lenovo [Smartchoice LOQ 12th Gen Intel Core i5...  66,190  2024-10-07